In [55]:
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.width', 1000)

In [56]:
# import file data_collection
collection_data=[]
with open ('nguondulieu\data_collection.json','r') as file:
    collection_data=json.load(file)

df_collection_data = pd.DataFrame(collection_data)

df_collection_data.head(5)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10868\1669834641.py:3: SyntaxWarning: invalid escape sequence '\d'
  with open ('nguondulieu\data_collection.json','r') as file:

      collection event_type     chain tokenId                 name                                      seller                                       buyer  quantity                 price  decimals symbol                                                         transaction  event_timestamp
0  pudgypenguins       sale  ethereum    4244  Pudgy Penguin #4244  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa548d95378ec16e000563d89684c64869f72bc0d       NaN  10670000000000000000       6.0   WETH  0x23eb4e42b3166384d7782b210a4ecef27f68d15c994e622a824ebd7749a84fe9       1719699947
1  pudgypenguins       sale  ethereum    8435  Pudgy Penguin #8435  0x7182113e9902a3157bef685fbe02981ddf388ea3  0xa548d95378ec16e000563d89684c64869f72bc0d       1.0  10670000000000000000      18.0   WETH  0x33e4fac65b578d5c095923a08aded3c694dea8572f933f79f841d375748faae7       1719699575
2  pudgypenguins       sale  ethereum    4436  Pudgy Penguin #4436  0x96488f9fcd0c6997c771a26d85d1f61cacfa502c  0x1ea27bce786a81022dfc156059771e8d3279a9a6       1.0  10680000000000000000      18.0   WETH  0xa4ff7fca8114415714fa4f45df49806023920529791ee6a02ebd783ddac3fa41       1719693083
3  pudgypenguins       sale  ethereum    3259  Pudgy Penguin #3259  0xf13532cc8f5c700dd30f9faf8b833b38cf78c7d6  0x29469395eaf6f95920e59f858042f0e28d98a20b       1.0  10740000000000000000      18.0   WETH  0xb7a33ac75bce22fe377f2b2acd856a47d746f5d6c5c35feaebdeb29a7b46ea0e       1719676931
4  pudgypenguins       sale  ethereum    2015  Pudgy Penguin #2015  0xb5e14dcf2520d154606254094f32c8d32d509115  0x29469395eaf6f95920e59f858042f0e28d98a20b       1.0  10729999945999999400      18.0    ETH  0xcb4724885fbc0850f24c9ff31c4eb258aae496556f5badb4a8e310e57e6966bf       1719676895

In [57]:
# xe số lượng hàng và cột,dữ liệu này có 876 dòng và 12 cột dữ liêu
df_collection_data.shape

(877, 13)

In [58]:
# kiểm tra null
missing_value =df_collection_data.isna()
# đếm số lượng dữ liệu bị thiếu ở từng cột
for column in missing_value.columns.values.tolist():
    print(missing_value[column].value_counts())

collection
False    877
Name: count, dtype: int64
event_type
False    877
Name: count, dtype: int64
chain
False    877
Name: count, dtype: int64
tokenId
False    877
Name: count, dtype: int64
name
False    877
Name: count, dtype: int64
seller
False    877
Name: count, dtype: int64
buyer
False    877
Name: count, dtype: int64
quantity
False    875
True       2
Name: count, dtype: int64
price
False    877
Name: count, dtype: int64
decimals
False    876
True       1
Name: count, dtype: int64
symbol
False    877
Name: count, dtype: int64
transaction
False    877
Name: count, dtype: int64
event_timestamp
False    877
Name: count, dtype: int64

In [59]:
# Có thể nhận thấy trường quantity và decimal đều có giá trị null
# Vì vậy ta sẽ sử dụng hàm isnull() để kiểm tra xem có phải là null hay
# Lọc ra những cột quantyti và decimals null
df_filtered = df_collection_data[df_collection_data['quantity'].isnull() | df_collection_data['decimals'].isnull()]
df_filtered

        collection event_type     chain tokenId                 name                                      seller                                       buyer  quantity                 price  decimals symbol                                                         transaction  event_timestamp
0    pudgypenguins       sale  ethereum    4244  Pudgy Penguin #4244  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa548d95378ec16e000563d89684c64869f72bc0d       NaN  10670000000000000000       6.0   WETH  0x23eb4e42b3166384d7782b210a4ecef27f68d15c994e622a824ebd7749a84fe9       1719699947
494  pudgypenguins       sale  ethereum     569   Pudgy Penguin #569  0x29469395eaf6f95920e59f858042f0e28d98a20b  0x15b383b0e83a1311a006567f6b330fba7ec26d88       NaN   6950000000000000000       NaN   WETH  0x2f9243899146d1aff0536bad24ac9d95f00b16f86027cd41076737edddb53459       1718746619

In [60]:
# tìm kiếm collection
unique_collection = df_collection_data['collection'].unique()
print('collection:', unique_collection)
# unique_decimal
unique_decimal = df_collection_data['decimals'].unique()
print('decimal:', unique_decimal)
# unique_symbol
unique_symbol = df_collection_data['symbol'].unique()
print('symbol:', unique_symbol)
# unique_quanity
unique_quanity = df_collection_data['quantity'].unique()
print('quantity:', unique_quanity)

collection: ['pudgypenguins']
decimal: [ 6. 18.  8.  0. nan]
symbol: ['WETH' 'ETH' 'USDC']
quantity: [nan  1.  0.]

In [61]:
# Mỗi token là duy nhất giá trị của token số lượng luôn là 1
df_collection_data['quantity'] =1

Đối với decimal thì chúng ta cần dựa vào symbol để điền giá trị phù hợp
decimal của token đề cập đến đơn vị nhỏ nhất mà mã thông báo tiền điện tử có thể được chia. Nó cho biết mã thông báo có thể có bao nhiêu vị trí thập phân khi được giao dịch hoặc đại diện. Số thập phân là một phần thông số kỹ thuật của mã thông báo và được xác định trong hợp đồng thông minh của nó. Sau khi được đặt, số thập phân của mã thông báo phải không thay đổi, vì việc thay đổi giá trị thập phân có thể dẫn đến sự không nhất quán và lỗi trong giao dịch mã thông báo
WETH có decimal là 18, ETH có decimal là 18,..

In [62]:
# với symbol là WETH và ETH thì decimal là 18, còn USDC thì decimal là 6
df_collection_data['decimals'] = df_collection_data['symbol'].apply(lambda x: 18 if x in ['WETH', 'ETH'] else 6)

df_collection_data.groupby('symbol')[['decimals', 'symbol']].count()

        decimals  symbol
symbol
ETH          183     183
USDC           1       1
WETH         693     693

In [63]:
missing_value =df_collection_data.isna()
# đếm số lượng dữ liệu bị thiếu ở từng cột
for column in missing_value.columns.values.tolist():
    print(missing_value[column].value_counts())

collection
False    877
Name: count, dtype: int64
event_type
False    877
Name: count, dtype: int64
chain
False    877
Name: count, dtype: int64
tokenId
False    877
Name: count, dtype: int64
name
False    877
Name: count, dtype: int64
seller
False    877
Name: count, dtype: int64
buyer
False    877
Name: count, dtype: int64
quantity
False    877
Name: count, dtype: int64
price
False    877
Name: count, dtype: int64
decimals
False    877
Name: count, dtype: int64
symbol
False    877
Name: count, dtype: int64
transaction
False    877
Name: count, dtype: int64
event_timestamp
False    877
Name: count, dtype: int64

In [64]:

# in ra những dòng duplacate
duplicate_indices = df_collection_data.duplicated(keep=False)
duplicate_rows = df_collection_data[duplicate_indices]
print(duplicate_rows)

        collection event_type     chain tokenId                 name                                      seller                                       buyer  quantity                 price  decimals symbol                                                         transaction  event_timestamp
875  pudgypenguins       sale  ethereum    7968  Pudgy Penguin #7968  0x29469395eaf6f95920e59f858042f0e28d98a20b  0x13747adca0ce7e7f6aa661718a07e4c74e62ed19         1  10620000000000000000        18   WETH  0x05361c05571b3138ad56fb3ccec4f03e9314c515f0d80653c043ef855bfc12e8       1717253927
876  pudgypenguins       sale  ethereum    7968  Pudgy Penguin #7968  0x29469395eaf6f95920e59f858042f0e28d98a20b  0x13747adca0ce7e7f6aa661718a07e4c74e62ed19         1  10620000000000000000        18   WETH  0x05361c05571b3138ad56fb3ccec4f03e9314c515f0d80653c043ef855bfc12e8       1717253927

In [65]:
# xóa dòng trùng lặp
df_collection_data.drop_duplicates(keep='first', inplace=True)
print(len(df_collection_data))

876

In [66]:
# chuyển đổi kiểu dữ liệu
# Sử dụng dtypes để chuyển đổi kiểu dữ liệu
df_collection_data.dtypes
# cột price phải là float và event_type là kiểu datetime

collection         object
event_type         object
chain              object
tokenId            object
name               object
seller             object
buyer              object
quantity            int64
price              object
decimals            int64
symbol             object
transaction        object
event_timestamp     int64
dtype: object

In [67]:
# chuyển đổi định dạng cột time
df_collection_data['event_timestamp'] = pd.to_datetime(df_collection_data['event_timestamp'], unit='s')
# chuyển đổi kiểu dữ liệu cột payment quantity
df_collection_data['price'] = df_collection_data['price'].astype('float64')

In [68]:
df_collection_data.dtypes

collection                 object
event_type                 object
chain                      object
tokenId                    object
name                       object
seller                     object
buyer                      object
quantity                    int64
price                     float64
decimals                    int64
symbol                     object
transaction                object
event_timestamp    datetime64[ns]
dtype: object

In [69]:

# chuyển giá trị trong cột price về cùng 1 giá trị tiền tệ sẽ lad ETH
# 1WETH = 0,9896 ETH.
# 1USDC = 0,00031ETH
# tính giá trị của cột price bằng decimal*price*
def convert_price(row):
    convert_price = row['price'] / (10 ** row['decimals'])
    if row['symbol'] == 'WETH':
        return round(convert_price * 0.9896, 4)
    elif row['symbol'] == 'USDC':
        return round(convert_price * 0.00031, 4)
    else:
      return convert_price  

# áp dụng cho từng dòng
df_collection_data['price'] = df_collection_data.apply(convert_price, axis=1)

In [70]:
df_collection_data.head(5)

      collection event_type     chain tokenId                 name                                      seller                                       buyer  quantity    price  decimals symbol                                                         transaction     event_timestamp
0  pudgypenguins       sale  ethereum    4244  Pudgy Penguin #4244  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa548d95378ec16e000563d89684c64869f72bc0d         1  10.5590        18   WETH  0x23eb4e42b3166384d7782b210a4ecef27f68d15c994e622a824ebd7749a84fe9 2024-06-29 22:25:47
1  pudgypenguins       sale  ethereum    8435  Pudgy Penguin #8435  0x7182113e9902a3157bef685fbe02981ddf388ea3  0xa548d95378ec16e000563d89684c64869f72bc0d         1  10.5590        18   WETH  0x33e4fac65b578d5c095923a08aded3c694dea8572f933f79f841d375748faae7 2024-06-29 22:19:35
2  pudgypenguins       sale  ethereum    4436  Pudgy Penguin #4436  0x96488f9fcd0c6997c771a26d85d1f61cacfa502c  0x1ea27bce786a81022dfc156059771e8d3279a9a6         1  10.5689        18   WETH  0xa4ff7fca8114415714fa4f45df49806023920529791ee6a02ebd783ddac3fa41 2024-06-29 20:31:23
3  pudgypenguins       sale  ethereum    3259  Pudgy Penguin #3259  0xf13532cc8f5c700dd30f9faf8b833b38cf78c7d6  0x29469395eaf6f95920e59f858042f0e28d98a20b         1  10.6283        18   WETH  0xb7a33ac75bce22fe377f2b2acd856a47d746f5d6c5c35feaebdeb29a7b46ea0e 2024-06-29 16:02:11
4  pudgypenguins       sale  ethereum    2015  Pudgy Penguin #2015  0xb5e14dcf2520d154606254094f32c8d32d509115  0x29469395eaf6f95920e59f858042f0e28d98a20b         1  10.7300        18    ETH  0xcb4724885fbc0850f24c9ff31c4eb258aae496556f5badb4a8e310e57e6966bf 2024-06-29 16:01:35

In [71]:
# Xóa những cột không cần thiết
df_collection_data.drop(columns=['collection','tokenId'])

    event_type     chain                 name                                      seller                                       buyer  quantity    price  decimals symbol                                                         transaction     event_timestamp
0         sale  ethereum  Pudgy Penguin #4244  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa548d95378ec16e000563d89684c64869f72bc0d         1  10.5590        18   WETH  0x23eb4e42b3166384d7782b210a4ecef27f68d15c994e622a824ebd7749a84fe9 2024-06-29 22:25:47
1         sale  ethereum  Pudgy Penguin #8435  0x7182113e9902a3157bef685fbe02981ddf388ea3  0xa548d95378ec16e000563d89684c64869f72bc0d         1  10.5590        18   WETH  0x33e4fac65b578d5c095923a08aded3c694dea8572f933f79f841d375748faae7 2024-06-29 22:19:35
2         sale  ethereum  Pudgy Penguin #4436  0x96488f9fcd0c6997c771a26d85d1f61cacfa502c  0x1ea27bce786a81022dfc156059771e8d3279a9a6         1  10.5689        18   WETH  0xa4ff7fca8114415714fa4f45df49806023920529791ee6a02ebd783ddac3fa41 2024-06-29 20:31:23
3         sale  ethereum  Pudgy Penguin #3259  0xf13532cc8f5c700dd30f9faf8b833b38cf78c7d6  0x29469395eaf6f95920e59f858042f0e28d98a20b         1  10.6283        18   WETH  0xb7a33ac75bce22fe377f2b2acd856a47d746f5d6c5c35feaebdeb29a7b46ea0e 2024-06-29 16:02:11
4         sale  ethereum  Pudgy Penguin #2015  0xb5e14dcf2520d154606254094f32c8d32d509115  0x29469395eaf6f95920e59f858042f0e28d98a20b         1  10.7300        18    ETH  0xcb4724885fbc0850f24c9ff31c4eb258aae496556f5badb4a8e310e57e6966bf 2024-06-29 16:01:35
..         ...       ...                  ...                                         ...                                         ...       ...      ...       ...    ...                                                                 ...                 ...
871       sale  ethereum  Pudgy Penguin #8543  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa69833b9fda816f1bfc79517e7932e64708df0dd         1  10.4997        18   WETH  0xd40626ca51f23df6150c93030e34d3d67b41430fe794382b86d062436ea7f2a9 2024-06-01 14:59:47
872       sale  ethereum  Pudgy Penguin #8356  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa69833b9fda816f1bfc79517e7932e64708df0dd         1  10.4997        18   WETH  0x73ce976f4ad9b8ef28e650564cfabd36795a8a4ddef65f69c7dc10d78f590a64 2024-06-01 14:59:35
873       sale  ethereum  Pudgy Penguin #8098  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa69833b9fda816f1bfc79517e7932e64708df0dd         1  10.4997        18   WETH  0xe36ed2eaacd07da1aa926b700e579094c9e188e6dc5dcded9dfc1823af59fe5a 2024-06-01 14:59:11
874       sale  ethereum  Pudgy Penguin #7904  0x29469395eaf6f95920e59f858042f0e28d98a20b  0xa69833b9fda816f1bfc79517e7932e64708df0dd         1  10.4997        18   WETH  0xc7fa17800dd411aff551d6a29dd4b9b0e8ad1fbbcb9b7eb8a44813f8885eaa7b 2024-06-01 14:58:59
875       sale  ethereum  Pudgy Penguin #7968  0x29469395eaf6f95920e59f858042f0e28d98a20b  0x13747adca0ce7e7f6aa661718a07e4c74e62ed19         1  10.5096        18   WETH  0x05361c05571b3138ad56fb3ccec4f03e9314c515f0d80653c043ef855bfc12e8 2024-06-01 14:58:47

[876 rows x 11 columns]

In [74]:
# lưu dữ liệu vào sql
import pyodbc
import os
from dotenv import load_dotenv
# thông tin server
load_dotenv()

server = os.getenv('SERVER')
database = os.getenv('DATABASE')

if server is None:
    print("Environment variable 'SERVER' is not set.")
if database is None:
    print("Environment variable 'DATABASE' is not set.")
# thông tin server
load_dotenv()

server = os.getenv('SERVER')
database = os.getenv('DATABASE')

if server is None:
    print("Environment variable 'SERVER' is not set.")
if database is None:
    print("Environment variable 'DATABASE' is not set.")
try:
    # tạo kết nối windown authentication
    connection = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + 
        ';DATABASE=' + database + 
        ';Trusted_Connection=yes;'
    )
    cursor = connection.cursor()

    # tên table trong sql
    transaction_table_name = 'transaction_infor'
    nfts_info_table_name = 'nfts_infor'

    # kiểm tra bảng đã tồn tại chưa
    create_transaction_table_query = f'''
    IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='{transaction_table_name}' AND xtype='U')
    CREATE TABLE {transaction_table_name} (
        name VARCHAR(50),
        [transaction] VARCHAR(200),
        seller VARCHAR(50),
        buyer VARCHAR(50),
        event_type VARCHAR(10),
        chain VARCHAR(10),
        quantity INT,
        price FLOAT,
        decimals INT,
        symbol VARCHAR(10),
        time DATETIME,
        FOREIGN KEY (name) REFERENCES {nfts_info_table_name}(name)
    )
    '''

    cursor.execute(create_transaction_table_query)
    connection.commit()

    # câu lệnh insert dữ liệu
    merge_query = f'''
    MERGE INTO {transaction_table_name} AS target
    USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (name, [transaction], seller, buyer, event_type, chain, quantity, price, decimals, symbol, time)
    ON target.name = source.name
       AND target.[transaction] = source.[transaction]
       AND target.seller = source.seller
       AND target.buyer = source.buyer
       AND target.event_type = source.event_type
       AND target.chain = source.chain
       AND target.quantity = source.quantity
       AND target.price = source.price
       AND target.decimals = source.decimals
       AND target.symbol = source.symbol
       AND target.time = source.time
    WHEN MATCHED THEN 
        UPDATE SET name = source.name, [transaction] = source.[transaction], seller = source.seller, buyer = source.buyer, event_type = source.event_type, chain = source.chain, quantity = source.quantity, price = source.price, decimals = source.decimals, symbol = source.symbol, time = source.time
    WHEN NOT MATCHED THEN
        INSERT (name, [transaction], seller, buyer, event_type, chain, quantity, price, decimals, symbol, time)
        VALUES (source.name, source.[transaction], source.seller, source.buyer, source.event_type, source.chain, source.quantity, source.price, source.decimals, source.symbol, source.time);
    '''

    # insert dữ liệu
    for index, row in df_collection_data.iterrows():
        cursor.execute(merge_query, row['name'], row['transaction'], row['seller'], row['buyer'], row['event_type'], row['chain'], row['quantity'], row['price'], row['decimals'], row['symbol'], row['event_timestamp'])
        connection.commit()

    # đóng kết nối
    cursor.close()
    connection.close()

except pyodbc.Error as ex:
    print("An error occurred while connecting to the database:", ex)

<!-- tiến hành víualize -->